{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
  <div class="login_page_wrapper">
    <div class="md-card" id="login_card">

      <div class="md-card-content large-padding uk-position-relative">
        <a href="{{ url('fos_user_security_login') }}" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></a>
        <h2 class="heading_b uk-text-success">{{ 'registration.congrat'|trans }}</h2>
        <p>{% trans with {'%username%': user.username} from "FOSUserBundle" %}registration.confirmed{% endtrans %}</p>
      </div>
    </div>
    {% if targetUrl %}
      <div class="uk-margin-top uk-text-center">
        <a href="{{ targetUrl }}">{% trans from "FOSUserBundle" %}registration.back{% endtrans %}</a>
      </div>
    {% else %}
      <div class="uk-margin-top uk-text-center">
        <a href="{{ url('fos_user_security_login') }}">{% trans from "FOSUserBundle" %}registration.back{% endtrans %}</a>
      </div>
    {% endif %}

  </div>
{% endblock fos_user_content %}
