{% extends 'base.html.twig' %}

{% block body %}
<div class="uk-width-medium-1-2 uk-container-center" id="page_content_inner">
    <div class=" uk-margin-large-top uk-margin-bottom uk-container-center">
      <img src="assets/img/logo.png" alt="">
    </div>
    <form action="page_search_results.html" class="search-form uk-margin-large-top" data-uk-grid-margin>
        <input placeholder="Search" type="text" class="search-box" />
        <button class="search-button"><i class="material-icons">&#xE8B6;</i></button>
    </form>
  </div>
{% endblock %}
