<!-- main sidebar -->
<aside id="sidebar_main">

  <div class="sidebar_main_header">
    <div class="sidebar_logo">
      <a href="index.html" class="sSidebar_hide sidebar_logo_large">
        <img class="logo_regular" src="assets/img/logo_main.png" alt="" height="15" width="71"/>
        <img class="logo_light" src="assets/img/logo_main_white.png" alt="" height="15" width="71"/>
      </a>
      <a href="index.html" class="sSidebar_show sidebar_logo_small">
        <img class="logo_regular" src="assets/img/logo_main_small.png" alt="" height="32" width="32"/>
        <img class="logo_light" src="assets/img/logo_main_small_light.png" alt="" height="32" width="32"/>
      </a>
    </div>
    <div class="sidebar_actions">
      <select id="lang_switcher" name="lang_switcher">
        <option value="gb" selected="selected">English</option>
      </select>
    </div>
  </div>

  <div class="menu_section">
    <ul class="md-list gmap_list">
      <li class="business_directory">
        <div class="md-list-content">
          <span class="md-list-heading">Kuhic Ltd</span>
          <span class="uk-text-small uk-text-muted">679 Mckayla Plaza Apt. 852South Ilenemouth, MN 27824</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory">
        <div class="md-list-content">
          <span class="md-list-heading">Hoppe, Paucek and Schmidt</span>
          <span class="uk-text-small uk-text-muted">60847 Schmeler Squares North Breana, ND 29775</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="42.30281602" data-gmap-lon="-92.06810153" data-gmap-company="Huels-Bernhard" data-gmap-company-address="925 Christiansen Harbors Percivalland, RI 19572">
        <div class="md-list-content">
          <span class="md-list-heading">Huels-Bernhard</span>
          <span class="uk-text-small uk-text-muted">925 Christiansen Harbors Percivalland, RI 19572</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="41.68463522" data-gmap-lon="-91.3404159" data-gmap-company="Kreiger, Hilpert and Quitzon" data-gmap-company-address="71817 Haag Parkway Lake Lornastad, NY 81901">
        <div class="md-list-content">
          <span class="md-list-heading">Kreiger, Hilpert and Quitzon</span>
          <span class="uk-text-small uk-text-muted">71817 Haag Parkway Lake Lornastad, NY 81901</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="41.04467876" data-gmap-lon="-90.08450673" data-gmap-company="Lubowitz LLC" data-gmap-company-address="66801 Kunde Cape Apt. 594 Schmidtmouth, ID 06519">
        <div class="md-list-content">
          <span class="md-list-heading">Lubowitz LLC</span>
          <span class="uk-text-small uk-text-muted">66801 Kunde Cape Apt. 594 Schmidtmouth, ID 06519</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="40.26186925" data-gmap-lon="-91.03261997" data-gmap-company="Pollich-Carroll" data-gmap-company-address="584 Boyer Mission East Frederiktown, ID 84961-1137">
        <div class="md-list-content">
          <span class="md-list-heading">Pollich-Carroll</span>
          <span class="uk-text-small uk-text-muted">584 Boyer Mission East Frederiktown, ID 84961-1137</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="39.09442555" data-gmap-lon=" -96.19775663" data-gmap-company="Gislason-Durgan" data-gmap-company-address="012 Pacocha Roads Elianside, KY 67438-5746">
        <div class="md-list-content">
          <span class="md-list-heading">Gislason-Durgan</span>
          <span class="uk-text-small uk-text-muted">012 Pacocha Roads Elianside, KY 67438-5746</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="42.54209076" data-gmap-lon="-95.22660793" data-gmap-company="Haley, Weissnat and Emmerich" data-gmap-company-address="6584 Jordane Views East Mina, WA 09063">
        <div class="md-list-content">
          <span class="md-list-heading">Haley, Weissnat and Emmerich</span>
          <span class="uk-text-small uk-text-muted">6584 Jordane Views East Mina, WA 09063</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="38.50327702" data-gmap-lon="-91.50773766" data-gmap-company="Swift, Rowe and Veum" data-gmap-company-address="430 Rosemary Mission Apt. 165 Beiertown, PA 47820-1218">
        <div class="md-list-content">
          <span class="md-list-heading">Swift, Rowe and Veum</span>
          <span class="uk-text-small uk-text-muted">430 Rosemary Mission Apt. 165 Beiertown, PA 47820-1218</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
      <li class="business_directory" data-gmap-lat="41.40112452" data-gmap-lon="-90.10399142" data-gmap-company="Kulas Ltd" data-gmap-company-address="18317 Konopelski Springs Wymanmouth, NM 24963">
        <div class="md-list-content">
          <span class="md-list-heading">Kulas Ltd</span>
          <span class="uk-text-small uk-text-muted">18317 Konopelski Springs Wymanmouth, NM 24963</span>
          <span class="uk-text-small uk-text-muted uk-margin-small-top">Opening hours: 8.00-20.00</span>
        </div>
      </li>
    </ul>
    <div class="uk-text-center uk-margin-medium-top uk-margin-medium-bottom">
      <a class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)">
        <i class="uk-icon-chevron-down"></i>
        show more
      </a>
    </div>
  </div>
</aside>
<!-- main sidebar end -->
